body {
  margin: 0;
  background-color: rgba(243, 245, 247, 1);
}
p {
  margin: 0;
}
.header {
  display: flex;
  overflow: hidden;
  height: 210px;
  padding: 2.5rem 270px;
  background: linear-gradient(88.27deg, #574ae8 0%, #3ea1db 100%);
  color: white;
  font-family: "Lexend Deca", sans-serif;
  align-items: center;
}
.conteudoHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.textHeader {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 4rem;
  align-self: stretch;
}

.searchBar {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: calc(100% - 80px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border: none;
  outline-color: white;
  padding: 20px 20px 20px 60px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.6484 22.0342L16.04 14.4258C17.2207 12.8994 17.8594 11.0332 17.8594 9.07031C17.8594 6.7207 16.9424 4.51758 15.2842 2.85645C13.626 1.19531 11.417 0.28125 9.07031 0.28125C6.72363 0.28125 4.51465 1.19824 2.85645 2.85645C1.19531 4.51465 0.28125 6.7207 0.28125 9.07031C0.28125 11.417 1.19824 13.626 2.85645 15.2842C4.51465 16.9453 6.7207 17.8594 9.07031 17.8594C11.0332 17.8594 12.8965 17.2207 14.4229 16.043L22.0313 23.6484C22.0536 23.6708 22.08 23.6885 22.1092 23.7006C22.1384 23.7126 22.1696 23.7189 22.2012 23.7189C22.2327 23.7189 22.264 23.7126 22.2931 23.7006C22.3223 23.6885 22.3488 23.6708 22.3711 23.6484L23.6484 22.374C23.6708 22.3517 23.6885 22.3252 23.7006 22.2961C23.7126 22.2669 23.7189 22.2357 23.7189 22.2041C23.7189 22.1725 23.7126 22.1413 23.7006 22.1121C23.6885 22.083 23.6708 22.0565 23.6484 22.0342ZM13.7109 13.7109C12.4688 14.9502 10.8223 15.6328 9.07031 15.6328C7.31836 15.6328 5.67188 14.9502 4.42969 13.7109C3.19043 12.4688 2.50781 10.8223 2.50781 9.07031C2.50781 7.31836 3.19043 5.66895 4.42969 4.42969C5.67188 3.19043 7.31836 2.50781 9.07031 2.50781C10.8223 2.50781 12.4717 3.1875 13.7109 4.42969C14.9502 5.67188 15.6328 7.31836 15.6328 9.07031C15.6328 10.8223 14.9502 12.4717 13.7109 13.7109Z' fill='white'/%3E%3C/svg%3E");
  color: white;
}

.searchBar::placeholder {
  color: white;
}
.todosPosts {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: calc(100% - 540px);
  align-items: center;
  padding: 0 270px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 100px;
  margin-top: 100px;
}
.posts {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: calc(100% - 50px);
  align-content: center;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0px 0px 10px 0px rgba(19, 19, 31, 0.05);
}
.datasPost {
  font-size: 16px;
  line-height: 20px;
  color: rgba(113, 113, 113, 1);
}

.tituloPost {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 8px;
}

.conteudoPost {
  font-size: 18px;
  line-height: 32px;
  color: rgba(113, 113, 113, 1);
}
.dataEFigura {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 22px;
}
.coracao {
  fill: #574ae8;
  cursor: pointer;
}
.coracao:hover {
  fill: red;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 20px;
  }
  .todosPosts {
    padding: 0 20px;
    width: calc(100% - 40px);
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
  .header {
    padding: 0 100px;
  }
  .todosPosts {
    padding: 0 100px;
    width: calc(100% - 200px);
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
